In [1]:
print("Hello world")

Hello world

In [3]:
#im hungry

In [4]:
divmod(10,6)

(1, 4)

In [5]:
divmod(10,3)

(3, 1)

In [6]:
#what is divmod doing - first result in parenthesis is the 10/3 and then 10%3

##ORDER OF OPERATIONS

PEMDAS: PARENTHESIS, EXPONENTS, MULTIPLY, DIVIDE, ADD, SUB

In [7]:
2*(5-2)**2 #what is the result of this

18

In [8]:
-2**5 #what about this?

-32

In [9]:
-2**10

-1024

Other mathematical operators

In [10]:
'humza'*5

'humzahumzahumzahumzahumza'

In [11]:
#bruh python actually does this where it'll multiply the string over and over

In [12]:
'hello'+'world'

'helloworld'

In [13]:
'humza'/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [14]:
#you can't actually divide a string lol

In [15]:
'Name'-'am'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
# precise string subtraction doesnt work

In [17]:
'Joe'*'Mama' #u cant multiply strings together or by floats

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
[1,2,3,4]*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
#multiplying the list with an int repeats the list x many times

In [30]:
[1,2,3,4,5,6][:3] #you can get list elements out too using this command..

[1, 2, 3]

STRING OPERATIONS

In [24]:
"Hello World"[0]

'H'

In [21]:
"Hello World"[1]

'e'

In [23]:
"Hello World"[0:4]

'Hell'

In [ ]:
#see how you can get the indicies of each string?

In [26]:
"Hello World"[:4] #does the same thing as line 23 - tells it to "parse from the start of the string to the specified end"

'Hell'

In [27]:
"Hello World"[-1] # this command gets you the last character of your string input

'd'

In [28]:
"Hello World"[5:] #you do it the other way too

' World'

In [31]:
"Hello World"[-1:1:-1]

'dlroW oll'

In [32]:
"Hello World"[-1:1:-2]

'drWol'

In [37]:
"Hello World"[-1:3:-1]

'dlroW o'

CLASS EXERCISE
1; every other letter starting with the first letter
2; every other letter starting with the second letter
3; every other letter in reverse order staring from the last one
4; every other letter in rev order starting from penultimate letter

In [38]:
print("Humza Humayun")

Humza Humayun

In [43]:
"Humza Humayun"[::2]

'HmaHmyn'

In [45]:
"Humza Humayun"[1::2]

'uz uau'

In [49]:
"Humza Humayun"[::-1]

'nuyamuH az'