In [1]:
#general syntax
def function_name(input_arg1,input_argn,...input_argn):
        code line 1
        code line 3
        return return_varialbe #may or may not have this
#usage:
function_name(a1,a2,...,an)

SyntaxError: invalid syntax (898708807.py, line 2)

In [7]:
#function with no input arguments or return statement
def helloworld():
    print ("Hello World")

Hi

In [5]:
helloworld()

Hello World

In [8]:
def my_function():
    print("Hi")
my_function()

Hi

In [9]:
print(my_function())

Hi
None

In [11]:
def square(x):
    return x**2
print(square(10))

100

In [12]:
square(4)

16

In [14]:
y = square(15)

In [15]:
print(y)

225

In [26]:
#taking inputs
x=float(input("Gimme a decimal number:"))
print(x)

Gimme a decimal number:23
23.0

In [19]:
#multiple input arguments:
def power(base,exponent):
    return base**exponent

In [20]:
power(2,10)

1024

In [ ]:
#print(power(input(),input()))

## MULTIPLE OUTPUTS

In [28]:
x = (1,2,3)

In [30]:
type(x)

tuple

In [31]:
x[:2]

(1, 2)

In [32]:
#tuples are immutable
x[0]=5

TypeError: 'tuple' object does not support item assignment