 # <center>Midterm Exam &ndash; DATA 3401 (Fall 2022)</center>
 
 ## Humza Humayun

## Start Date: 10/12
## Due Date: 10/14 (at 11:59pm))
There will be **no Lab on Friday 10/14**

## Midterm Rules
This midterm exam is essentially like a short-term lab. Please work the exercises below **on your own**.  When you have completed the exam, you should push your completed jupyter notebook to your GitHub repo for this class in the **Exams->Midterm** folder.

You may not discuss the problems with **anyone else**, including persons on an online internet forum. Consulting an outside source like this will be considered an academic integrity violation.

You may use all class resources including previous labs and lectures, and anything posted on the course GitHub repo. 

You may not use any function that trivializes a problem. For example, if I ask you to write a `max` function that computes the maximum entry in a list, you are not allowed to use the pre-defined Python function `max`; you must write your own.

## Exercise 1
1. Write a script or function that asks the user to input 3 numbers (floats or ints), and output the product of the 3 numbers.
    1. You may use the `input()` function to take user input, or you may write a function with 3 input arguments without using `input()`
1. Your code should display an error message if one of the inputs is not a number.
1. Test your code on the following inputs:  
    1. (5, -10, 20.0)
    1. (1, "blah", 5)

In [131]:
## Write your code here
def return_in():
    x,y,z= input("Please enter three int or float values, seperated by spaces: ").split()
    #it is easier to classify a float as a number rather than a float as a int - weird but validate it as float first
    try:
        xp=float(x)
        yp=float(y)
        zp=float(z)
        print(type(x))
        print(xp,yp,zp)
        return (xp*yp*zp)
    except ValueError:
        print("There is a non numerical input")

In [133]:
## Test your code here
return_in()

Please enter three int or float values, seperated by spaces: 5 -10 20.0
<class 'str'>
5.0 -10.0 20.0

-1000.0

In [134]:
return_in()

Please enter three int or float values, seperated by spaces: 1 "blah" 5
There is a non numerical input

## Exercise 2
Suppose the first element of a sequence is $a_0 = 1$, the second element is $a_1 = 3$, and for every $i>1$, the $i$--th element of the sequence is defined by the recursive relation $a_i = \frac{(a_{i-1}-a_{i-2})^2}{3}$. (So $a_2 = 4/3$)
1. Write a function which outputs the $n$--th element of this sequence for a given positive integer $n$
2. Test your function for $n = 1, 5, 10, 15,$ and $20$

In [153]:
# Write your function here
def recur(num_in):
    if num_in == 0:
        return 1
    elif num_in == 1:
        return 3
    else:
        return (((recur(num_in-1)-recur(num_in-2))**2)/3)

In [154]:
recur(2)

1.3333333333333333

In [155]:
# Test your function here
recur(1)

3

In [156]:
recur(5)

0.25264753615031454

In [157]:
recur(10)

3.986380447622439e-09

In [158]:
recur(15)

2.2496046712168145e-35

In [159]:
recur(20)

4.003939782244758e-285

## Exercise 3
1. Write a function which takes a list as input and outputs the largest **integer** entry. If there is none, return `None`.
1. Test your function on the following lists
    1. \[ 1, 9, 10.2, 6, -2\]
    1. \[1.2, 3/4, "Hello World"\]

In [180]:
# Write your function here
def largest_int(list_in):
    largest=list_in[0]
    for i in range (len(list_in)):
        if isinstance(list_in[i],int):
            if list_in[i]>largest:
                largest=list_in[i]
                return largest
    return 'none'

In [181]:
# Test your function here
demo1=[ 1, 9, 10.2, 6, -2]
largest_int(demo1)

9

In [182]:
demo2=[1.2, 3/4, "Hello World"]
largest_int(demo2)

'none'

## Exercise 4
1. Write a function that takes in a list of tuples, each of which contains three parts: `name, month, day` corresponding to a person's birthday, for example `('Tony Stark', 'March', 14)`. Your function should output `True` if any two people have the same birthday, and `False` if no two people have the same birthday.
1. Test your function on the set of people `[('Thor', 'August',10), ('Phil Coulson','July',8),('T\'Challa','November',29),('Peter Parker','August',10), ('Tony Stark', 'March', 14)]`
1. Create your own list of people with all distinct birthdays and test your function on your list.

In [183]:
# Write your functions here
def bday_same(b_list):
    for i in range (len(b_list)):
        curr_m=b_list[i][1]
        curr_d=b_list[i][2]
        for j in range (len(b_list)):
            if (j!=i) and (b_list[i][1]==b_list[j][1]) and (b_list[i][2]==b_list[j][2]):
                return True
    return False

In [184]:
# Test your functions here
demo_tup1=[('Thor', 'August',10), ('Phil Coulson','July',8),('T\'Challa','November',29),('Peter Parker','August',10), ('Tony Stark', 'March', 14)]
bday_same(demo_tup1)

True

In [185]:
demo_t2=[('Humza','July',30),('Denton','June',22),('Lara','February',14),('Sam','November',17)]
bday_same(demo_t2)

False

## Exercise 5
For this exercise, you are *not* allowed to use the `.replace()` function or a similar single string command to complete the exercise. For example, you could make a list of the input string and then use list manipulations to complete the task.

1. Write a function or script that takes in two strings, and returns the first string minus all instances of the second string. You may assume the second string is a single character.  For example, an input of "Hello World" where "l" is removed should result in "Heo Word".
1. Test your function by specifying "i" to be removed from "Supercalifragilisticexpialidocious"

Bonus: Modify your function to allow the second string to be more than one characer. Test your new function by specifying "data" to be removed from "data 3401 introduction to python for data science". (This should result in ' 3401 introduction to python for  science'

**Example:** if your function is called `replace_string(str1,str2)`, then for part 2 you should print `replace_string('Supercalifragilisticexpialidocious','i')` and for the bonus you should print `replace_string('data 3401 introduction to python for data science','data')`

In [186]:
# Write your function here
def rem_inst(st_one,st_two):
    #convert the first string into a list
    list_one=[]
    list_one=list(st_one)
    for item in list_one:
        if item==st_two:
            list_one.remove(item)
    s = ''.join(list_one)
    print(s)

In [187]:
# Test your function here
st_one='Supercalifragilisticexpialidocious'
st_two='i'
rem_inst(st_one,st_two)

Supercalfraglstcexpaldocous

In [188]:
st_one='Boneless Chicken Wings are NOT Chicken Wings'
st_two='e'
rem_inst(st_one,st_two)

Bonlss Chickn Wings ar NOT Chickn Wings

In [189]:
#bonus
def rem_inst(st_one,st_two):
    #convert the first string into a list
    list_one=[]
    list_one=list(st_one)
    for item in list_one:
        if item==st_two:
            list_one.remove(item)
    s = ''.join(list_one)
    print(s)